:root {
  --hf-bg-color: #1f2937;
  --btn-color: #3882f6;
  --btn-hover: #0053da;
  --hf-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --quote-bg: #e5e7eb;
}

@font-face {
  font-family: roboto;
  src: url(./resources/roboto-regular-webfont.woff2);
}
@font-face {
  font-family: roboto-bold;
  src: url(./resources/roboto-bold-webfont.woff2);
}

@font-face {
  font-family: roboto-italic;
  src: url(./resources/roboto-lightitalic-webfont.woff2);
}

* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: roboto, arial;
  text-decoration: none;
}

body {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: center;
  background-color: var(--hf-bg-color);
  color: var(--hf-text-color);
  padding: 6em 0 7em 0;
  align-items: center;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--hf-bg-color);
  color: var(--hf-text-color);
  padding-bottom: 1em;
  align-items: center;
  left: 0;
  right: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  justify-content: left;
  width: 525px;
  margin: 1em 2em 0 0;
  font-family: roboto-bold;
  font-size: 1.3em;
}

.nav-links {
  display: flex;
  justify-content: right;
  width: 525px;
  margin: 1em 0 0 2em;
}

.title-image {
  width: 525px;
  height: 235px;
  margin: 2em;
}

.place-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  background-color: #6d747d;
}

.second-title {
  display: flex;
  justify-content: center;
  font-family: roboto-bold;
  font-size: 2em;
  padding: 1em;
  color: var(--hf-bg-color);
}

.products {
  display: flex;
  justify-content: center;
  margin-bottom: 6em;
}

img {
  border-style: solid;
  border-width: medium;
  border-color: var(--btn-color);
  border-radius: 1em;
  width: 9em;
  height: 9em;
  cursor: pointer;
}

.figure {
  margin: 0 1.5rem 1.5rem;
}

figcaption {
  width: 9em;
  color: #585858;
  text-align: center;
}

.quote-section {
  background-color: var(--quote-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem;
}

.quote p {
  font-family: roboto-italic;
  font-size: 2em;
  width: 44rem;
  margin-bottom: 0;
}

#narrator {
  align-self: flex-end;
  font-family: roboto-bold;
  font-size: 1.2rem;
  color: #1f2937;
  margin: 0;
  text-align: right;
  padding-right: 2em;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19.5rem;
}

.call-to-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--btn-color);
  width: 57rem;
  height: 8.3rem;
  border-radius: 0.5rem;
}

footer div div div h3 {
  font-family: roboto;
  font-size: 1.2rem;
  color: white;
  margin: 0;
  padding: 0;
}

footer div div div p {
  color: white;
  margin: 0;
  padding: 0;
}

.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  background-color: var(--hf-bg-color);
  color: var(--secondary-text-color);
}

h1 {
  color: var(--hf-text-color);
  font-family: roboto-bold;
  font-size: 2.6em;
  margin: 0;
  line-height: 1em;
}

.expression {
  color: var(--secondary-text-color);
}

a {
  color: var(--secondary-text-color);
  padding: 0 1em 0 1em;
}

button {
  background-color: var(--btn-color);
  color: var(--hf-text-color);
  height: fit-content;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: roboto-bold;
  transition-duration: 0.2s;
}

footer div div button {
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

button:hover {
  background-color: var(--btn-hover);
  color: var(--hf-text-color);
  cursor: pointer;
}

a:hover {
  color: white;
}
